<section>
  <div class="d-flex align-items-end">
    <h2>コメント一覧</h2>
    <div id="admin_comment_counter" class="ml-5">
      <h5>コメント数は、「<%= @comments_all.count %>」件です。</h5>
    </div>
  </div>
  
  <div id="admin_comments">
    <%= render "admin/comments/index", tweet_comments: @tweet_comments, tweet: @tweet %>
  </div>
</section>