<section>
  <div class="d-flex align-items-end">
    <h2>コメント一覧</h2>
    <h4>(全<%= @tweet_comments.count %>件)</h4>
  </div>
  <div id="comments"><%= render "public/comments/index", tweet_comments: @tweet_comments, tweet: @tweet %></div>
</section>