<div>
  <%= link_to user_followings_path(user) do %>
    フォロー数：<%= user.followings.count %>
  <% end %>
</div>
<div>
  <%= link_to user_followers_path(user) do %>
    フォロワー数：<%= user.followers.count %>
  <% end %>
</div>