
<div class="top_bg text-center text-white">
    <h1>Meet Meat</h1>
    <p class="top_font">
        Meet Meatは食べたお肉を記録し、共有できるSNSです。<br>
        フードロス減少をスローガンとして作成されました。<br>
        その為、お肉になる前の生きていた頃の動物達と今まで食べたお肉の量を比較をすることができます。<br>
        お肉に限らず、食に対する振り返りの良い機会となれば幸いです。<br>
        ぜひ、ご活用ください。
    </p>
</div>


