<section>
  <div class="d-flex align-items-end">
    <h2>いいねをしたユーザー 一覧</h2>
    <h4>(<%= @favorites.count %>件)</h4>
  </div>
  <% @favorites.each do |favorite| %>
    <div class="d-inline-block my-1 mx-1">
      <%= link_to user_path(favorite.user), class: "text-secondary" do %>
        <%= image_tag favorite.user.get_profile_image(80, 80), class: "d-flex" %>
        <%= favorite.user.nick_name %>
      <% end %>
    </div>
  <% end %>
</section>