<section>
  <h2>いいねをしたユーザー一覧</h2>
  <% @favorites.each do |favorite| %>
    <div class="d-inline-block my-1 mx-1">
      <%= link_to user_path(favorite.user), class: "text-secondary" do %>
        <%= image_tag favorite.user.get_profile_image(80, 80), class: "d-flex" %>
        <%= favorite.user.nick_name %>
      <% end %>
    </div>
  <% end %>
</section>