.admin_body {
  background-color: #e5ffcc;
}

.admin_header, .admin_footer {
  background-color: #ffe5f2;
}

.admin_users {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.user_status {
  height: 100%;
  text-align: center;
}

.user_active {
  width: 100%;
  text-align: center;
  padding: 15px 0 15px 0;
  border: solid;
  background-color: lime;
  margin-bottom: 15px;
  border-radius: 10%;
}

.user_noactive {
  width: 100%;
  text-align: center;
  padding: 15px 0 15px 0;
  border: solid;
  background-color: red;
  margin-bottom: 15px;
  border-radius: 10%;
}

.meat_image {
  width: 150px;
}

.admin_tweet_body {
  height: 150px;
  padding: 0 10px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}