.admin_body {
  background-color: #e5ffcc;
}

.admin_header, .admin_footer {
  background-color: #ffe5f2;
}

.admin_users {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.user_status {
  height: 100%;
  text-align: center;
}

.active_btn {
  width: 100%;
  text-align: center;
  padding: 15px 0 15px 0;
  border: solid;
  background-color: lime;
  margin-bottom: 15px;
  border-radius: 10%;
}

.no_active_btn {
  width: 100%;
  text-align: center;
  padding: 15px 0 15px 0;
  border: solid;
  background-color: red;
  margin-bottom: 15px;
  border-radius: 10%;
}

.admin_tweet_body {
  height: 150px;
  padding: 0 10px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.meat-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.meat_item {
  width: 150px;
  background-color: wheat;
  text-align: center;
  margin: 4px;
}

.meat_profile_image {
  padding: 10px 0;
}

.new-btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 3px 3px 0px 0 grey;
}

.new_meat {
  position: absolute;
  top: 17px;
  right: 0;
  left: 0;
  margin: auto;
  color: grey;
  font-size: 15px;
}