@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "user.scss";
@import "favorite.scss";
@import "tweet.scss";
@import "comment.scss";
@import "admin.scss";
@import "home.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe5f2;
  background-image: url('../../assets/images/onikuimages-1129003_S.jpg');
  margin-bottom: 100px;
  font-size: clamp(1px, 1vw, 16px);
}

.public_header, .public_footer {
  background-color: #e5ffcc;
}

.tweets, .comments {
  background-color: white;
  padding: 10px;
  margin: 5px 0;
}

.form {
  border-collapse: separate;
  border-spacing: 30px 20px;
  margin: 0 auto;
}

.meat_image {
  width: 180px;
}

.pagination {
  justify-content: center;
  margin-top: 30px;
}

// @media (min-width: 992px) {
// body {
//   font-size: 1rem;
// }
// }

// @media (max-width: 991.98px) {
// .title {
//   font-size: 0.7rem;
// }
// }

// @media (max-width: 767.98px) {
// .title {
//   font-size: 0.4rem;
// }
// }

// @media (max-width: 575.98px) {
// body {
//   font-size: 0.1rem;
// }
// }