@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "user.scss";
@import "favorite.scss";
@import "tweet.scss";
@import "comment.scss";
@import "admin.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe5f2;
  margin-bottom: 70px;
}

.public_header, .public_footer {
  background-color: #e5ffcc;
}

.tweets, .comments {
  background-color: white;
  padding: 10px;
  margin: 5px 0;
}

.form {
  border-collapse: separate;
  border-spacing: 30px 20px;
  margin: 0 auto;
}
