@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "user.scss";
@import "favorite.scss";
@import "tweet.scss";
@import "comment.scss";
@import "admin.scss";
@import "home.scss";
@import "search.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffe5f2;
  margin-bottom: 100px;
  // font-size: clamp(1px, 1vw, 16px);
}

.public_header, .public_footer {
  background-color: #e5ffcc;
}

.form {
  border-collapse: separate;
  border-spacing: 30px 20px;
  margin: 0 auto;
}

.pagination {
  justify-content: center;
  margin-top: 30px;
}

.notification_icon{
  position: relative;
}

.fa-exclamation-circle{
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}