.comment_content {
  height: 100%;
  align-items: center;
}

.comment_body {
  height: 100px;
  padding: 0 10px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.comment_style {
  width: 300px;
}