.profile {
  background-color: white;
  padding: 10px;

}

.introduction, .total_meat {
  height: 100px;
  padding: 0 10px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.total_meat {
  height: 100px;
  padding: 0 10px;
}

.user-info {
  display: inline-block;
  text-align: center;
  margin: auto 0;
}

.user_image {
  display: flex;
  text-align: center;
  align-items: center;
}

.user_tweet_body {
  height: 100px;
  padding: 0 10px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.meat_table {
  border-collapse: separate;
  border-spacing: 30px 20px;
  margin: 0 auto;
}

#tweet_set {
  width: 50%;
  display: inline-block;
}

.display_set {
  display: inline-block;
}