<%= link_to admin_users_update_status_path(user), method: :patch, remote: true, class: "text-dark" do %>
  <% if user.is_active? %>
		<div class="active_btn"><strong>有効</strong></div>
	<% else %>
		<div class="no_active_btn"><strong>無効</strong></div>
	<% end %>
<% end %>