<footer class="public_footer fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Meet Meat</h3>
      </div>
    </div>
  </div>
</footer>